.main-figure{
    display: block;
}
.main-logo{
    height: 80px;
    border-radius: 10px;
}

.main-img{
    height: 400px;
    border-radius: 10px;
} 
@media(max-width: 710px){
    .main-logo{
        height: 40px;
    }
    .main-img{
        height: 280px;
    }
}